@import 'compass';
@import 'variables';

@mixin hidpi($media: screen, $minW: 0px) {
  @media 
    only #{$media} and (min-width: $minW) and (min--moz-device-pixel-ratio: 1.5),
    only #{$media} and (min-width: $minW) and (-o-min-device-pixel-ratio: 3/2),
    only #{$media} and (min-width: $minW) and (-webkit-min-device-pixel-ratio: 1.5),
    only #{$media} and (min-width: $minW) and (min-device-pixel-ratio: 1.5),
    only #{$media} and (min-width: $minW) and (min-resolution: 144dpi),
    only #{$media} and (min-width: $minW) and (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin headerBg($imgName, $hasThumbs, $isHeader, $isContent) {
  $thumb: image-url('thumbs/#{$imgName}-xs.jpg');
  $profile: image-url('profiles/#{$imgName}-xs.jpg');
  @if $isHeader {
    @if $hasThumbs {
      $img: image-url('thumbs/#{$imgName}-lg.jpg');
      $hdImg: image-url('thumbs/#{$imgName}-lg-2x.jpg');
      @media screen and (min-width: $screen-xs) {
        @include background-image($img, $thumb);
      }
      @include hidpi($minW: $screen-xs) {
        @include background-image($hdImg, $thumb);
      }
    } @else {
      $img: image-url('profiles/#{$imgName}-lg.jpg');
      $hdImg: image-url('profiles/#{$imgName}-lg-2x.jpg');
      @media screen and (min-width: $screen-xs) {
        @include background-image($img, $profile);
      }
      @include hidpi($minW: $screen-xs) {
        @include background-image($hdImg, $profile);
      }
    }
  }
  @if $isContent {
    $img: image-url('profiles/#{$imgName}-sm.jpg');
    $hdImg: image-url('profiles/#{$imgName}-sm-2x.jpg');
    @media screen and (min-width: $screen-sm) {
      @include background-image($img, $profile);
    }
    @include hidpi($minW: $screen-sm) {
      @include background-image($hdImg, $profile);
    }
    $img: image-url('profiles/#{$imgName}-md.jpg');
    $hdImg: image-url('profiles/#{$imgName}-md-2x.jpg');
    @media screen and (min-width: $screen-md) {
      @include background-image($img, $profile);
    }
    @include hidpi($minW: $screen-md) {
      @include background-image($hdImg, $profile);
    }
    $img: image-url('profiles/#{$imgName}-lg.jpg');
    $hdImg: image-url('profiles/#{$imgName}-lg-2x.jpg');
    @media screen and (min-width: $screen-lg) {
      @include background-image($img, $profile);
    }
    @include hidpi($minW: $screen-lg) {
      @include background-image($hdImg, $profile);
    }
  }
}
