@import 'compass';
@import 'variables';
@import 'mixins';


$bgImgThumb: image-url('thumbs/ijas-xs.jpg');
$bgImgProfile: image-url('profiles/ijas-xs.jpg');

// Default size (up to 480px wide)
.winner-1 .fill-header, 
.winner-1-thumb .fill {
  $img: image-url('thumbs/ijas-sm.jpg');
  $hdImg: image-url('thumbs/ijas-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-1 .fill-header {
  @include headerBg("ijas", true, true, false);
}
.winner-1 .fill-content {
  @include headerBg("ijas", true, false, true);
}

$bgImgThumb: image-url('thumbs/alves-xs.jpg');
$bgImgProfile: image-url('profiles/alves-xs.jpg');

// Default size (up to 480px wide)
.winner-2 .fill-header, 
.winner-2-thumb .fill {
  $img: image-url('thumbs/alves-sm.jpg');
  $hdImg: image-url('thumbs/alves-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-2 .fill-header {
  @include headerBg("alves", true, true, false);
}
.winner-2 .fill-content {
  @include headerBg("alves", true, false, true);
}

$bgImgThumb: image-url('thumbs/radford-xs.jpg');
$bgImgProfile: image-url('profiles/radford-xs.jpg');

// Default size (up to 480px wide)
.winner-3 .fill-header, 
.winner-3-thumb .fill {
  $img: image-url('thumbs/radford-sm.jpg');
  $hdImg: image-url('thumbs/radford-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-3 .fill-header {
  @include headerBg("radford", true, true, false);
}
.winner-3 .fill-content {
  @include headerBg("radford", true, false, true);
}

$bgImgThumb: image-url('thumbs/yiangou-xs.jpg');
$bgImgProfile: image-url('profiles/yiangou-xs.jpg');

// Default size (up to 480px wide)
.winner-4 .fill-header, 
.winner-4-thumb .fill {
  $img: image-url('thumbs/yiangou-sm.jpg');
  $hdImg: image-url('thumbs/yiangou-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-4 .fill-header {
  @include headerBg("yiangou", true, true, false);
}
.winner-4 .fill-content {
  @include headerBg("yiangou", true, false, true);
}

$bgImgThumb: image-url('thumbs/lothhill-xs.jpg');
$bgImgProfile: image-url('profiles/lothhill-xs.jpg');

// Default size (up to 480px wide)
.winner-5 .fill-header, 
.winner-5-thumb .fill {
  $img: image-url('thumbs/lothhill-sm.jpg');
  $hdImg: image-url('thumbs/lothhill-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-5 .fill-header {
  @include headerBg("lothhill", true, true, false);
}
.winner-5 .fill-content {
  @include headerBg("lothhill", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-piano-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-piano-xs.jpg');

// Default size (up to 480px wide)
.winner-6 .fill-header, 
.winner-6-thumb .fill {
  $img: image-url('thumbs/purcell-piano-sm.jpg');
  $hdImg: image-url('thumbs/purcell-piano-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-6 .fill-header {
  @include headerBg("purcell-piano", true, true, false);
}
.winner-6 .fill-content {
  @include headerBg("purcell-piano", true, false, true);
}

$bgImgThumb: image-url('thumbs/johnston-xs.jpg');
$bgImgProfile: image-url('profiles/johnston-xs.jpg');

// Default size (up to 480px wide)
.winner-7 .fill-header, 
.winner-7-thumb .fill {
  $img: image-url('thumbs/johnston-sm.jpg');
  $hdImg: image-url('thumbs/johnston-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-7 .fill-header {
  @include headerBg("johnston", true, true, false);
}
.winner-7 .fill-content {
  @include headerBg("johnston", true, false, true);
}

$bgImgThumb: image-url('thumbs/kim-xs.jpg');
$bgImgProfile: image-url('profiles/kim-xs.jpg');

// Default size (up to 480px wide)
.winner-8 .fill-header, 
.winner-8-thumb .fill {
  $img: image-url('thumbs/kim-sm.jpg');
  $hdImg: image-url('thumbs/kim-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-8 .fill-header {
  @include headerBg("kim", true, true, false);
}
.winner-8 .fill-content {
  @include headerBg("kim", true, false, true);
}

$bgImgThumb: image-url('thumbs/voice-xs.jpg');
$bgImgProfile: image-url('profiles/voice-xs.jpg');

// Default size (up to 480px wide)
.winner-9 .fill-header, 
.winner-9-thumb .fill {
  $img: image-url('thumbs/voice-sm.jpg');
  $hdImg: image-url('thumbs/voice-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-9 .fill-header {
  @include headerBg("voice", true, true, false);
}
.winner-9 .fill-content {
  @include headerBg("voice", true, false, true);
}

$bgImgThumb: image-url('thumbs/shtshura-xs.jpg');
$bgImgProfile: image-url('profiles/shtshura-xs.jpg');

// Default size (up to 480px wide)
.winner-10 .fill-header, 
.winner-10-thumb .fill {
  $img: image-url('thumbs/shtshura-sm.jpg');
  $hdImg: image-url('thumbs/shtshura-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-10 .fill-header {
  @include headerBg("shtshura", true, true, false);
}
.winner-10 .fill-content {
  @include headerBg("shtshura", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-cello-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-cello-xs.jpg');

// Default size (up to 480px wide)
.winner-11 .fill-header, 
.winner-11-thumb .fill {
  $img: image-url('thumbs/purcell-cello-sm.jpg');
  $hdImg: image-url('thumbs/purcell-cello-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-11 .fill-header {
  @include headerBg("purcell-cello", true, true, false);
}
.winner-11 .fill-content {
  @include headerBg("purcell-cello", true, false, true);
}

$bgImgThumb: image-url('thumbs/chaplina-xs.jpg');
$bgImgProfile: image-url('profiles/chaplina-xs.jpg');

// Default size (up to 480px wide)
.winner-12 .fill-header, 
.winner-12-thumb .fill {
  $img: image-url('thumbs/chaplina-sm.jpg');
  $hdImg: image-url('thumbs/chaplina-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-12 .fill-header {
  @include headerBg("chaplina", true, true, false);
}
.winner-12 .fill-content {
  @include headerBg("chaplina", true, false, true);
}

$bgImgThumb: image-url('thumbs/legrand-xs.jpg');
$bgImgProfile: image-url('profiles/legrand-xs.jpg');

// Default size (up to 480px wide)
.winner-13 .fill-header, 
.winner-13-thumb .fill {
  $img: image-url('thumbs/legrand-sm.jpg');
  $hdImg: image-url('thumbs/legrand-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-13 .fill-header {
  @include headerBg("legrand", true, true, false);
}
.winner-13 .fill-content {
  @include headerBg("legrand", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-cello-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-cello-xs.jpg');

// Default size (up to 480px wide)
.winner-14 .fill-header, 
.winner-14-thumb .fill {
  $img: image-url('thumbs/purcell-cello-sm.jpg');
  $hdImg: image-url('thumbs/purcell-cello-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-14 .fill-header {
  @include headerBg("purcell-cello", true, true, false);
}
.winner-14 .fill-content {
  @include headerBg("purcell-cello", true, false, true);
}

$bgImgThumb: image-url('thumbs/kong-xs.jpg');
$bgImgProfile: image-url('profiles/kong-xs.jpg');

// Default size (up to 480px wide)
.winner-15 .fill-header, 
.winner-15-thumb .fill {
  $img: image-url('thumbs/kong-sm.jpg');
  $hdImg: image-url('thumbs/kong-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-15 .fill-header {
  @include headerBg("kong", true, true, false);
}
.winner-15 .fill-content {
  @include headerBg("kong", true, false, true);
}

$bgImgThumb: image-url('thumbs/bray-xs.jpg');
$bgImgProfile: image-url('profiles/bray-xs.jpg');

// Default size (up to 480px wide)
.winner-16 .fill-header, 
.winner-16-thumb .fill {
  $img: image-url('thumbs/bray-sm.jpg');
  $hdImg: image-url('thumbs/bray-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-16 .fill-header {
  @include headerBg("bray", true, true, false);
}
.winner-16 .fill-content {
  @include headerBg("bray", true, false, true);
}

$bgImgThumb: image-url('thumbs/lapshin-xs.jpg');
$bgImgProfile: image-url('profiles/lapshin-xs.jpg');

// Default size (up to 480px wide)
.winner-17 .fill-header, 
.winner-17-thumb .fill {
  $img: image-url('thumbs/lapshin-sm.jpg');
  $hdImg: image-url('thumbs/lapshin-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-17 .fill-header {
  @include headerBg("lapshin", true, true, false);
}
.winner-17 .fill-content {
  @include headerBg("lapshin", true, false, true);
}

$bgImgThumb: image-url('thumbs/dippenaar-xs.jpg');
$bgImgProfile: image-url('profiles/dippenaar-xs.jpg');

// Default size (up to 480px wide)
.winner-18 .fill-header, 
.winner-18-thumb .fill {
  $img: image-url('thumbs/dippenaar-sm.jpg');
  $hdImg: image-url('thumbs/dippenaar-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-18 .fill-header {
  @include headerBg("dippenaar", true, true, false);
}
.winner-18 .fill-content {
  @include headerBg("dippenaar", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-violin-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-violin-xs.jpg');

// Default size (up to 480px wide)
.winner-19 .fill-header, 
.winner-19-thumb .fill {
  $img: image-url('thumbs/purcell-violin-sm.jpg');
  $hdImg: image-url('thumbs/purcell-violin-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-19 .fill-header {
  @include headerBg("purcell-violin", true, true, false);
}
.winner-19 .fill-content {
  @include headerBg("purcell-violin", true, false, true);
}

$bgImgThumb: image-url('thumbs/pares-xs.jpg');
$bgImgProfile: image-url('profiles/pares-xs.jpg');

// Default size (up to 480px wide)
.winner-20 .fill-header, 
.winner-20-thumb .fill {
  $img: image-url('thumbs/pares-sm.jpg');
  $hdImg: image-url('thumbs/pares-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-20 .fill-header {
  @include headerBg("pares", true, true, false);
}
.winner-20 .fill-content {
  @include headerBg("pares", true, false, true);
}

$bgImgThumb: image-url('thumbs/cashell-xs.jpg');
$bgImgProfile: image-url('profiles/cashell-xs.jpg');

// Default size (up to 480px wide)
.winner-21 .fill-header, 
.winner-21-thumb .fill {
  $img: image-url('thumbs/cashell-sm.jpg');
  $hdImg: image-url('thumbs/cashell-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-21 .fill-header {
  @include headerBg("cashell", true, true, false);
}
.winner-21 .fill-content {
  @include headerBg("cashell", true, false, true);
}

$bgImgThumb: image-url('thumbs/swallow-xs.jpg');
$bgImgProfile: image-url('profiles/swallow-xs.jpg');

// Default size (up to 480px wide)
.winner-22 .fill-header, 
.winner-22-thumb .fill {
  $img: image-url('thumbs/swallow-sm.jpg');
  $hdImg: image-url('thumbs/swallow-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-22 .fill-header {
  @include headerBg("swallow", true, true, false);
}
.winner-22 .fill-content {
  @include headerBg("swallow", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-cello-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-cello-xs.jpg');

// Default size (up to 480px wide)
.winner-23 .fill-header, 
.winner-23-thumb .fill {
  $img: image-url('thumbs/purcell-cello-sm.jpg');
  $hdImg: image-url('thumbs/purcell-cello-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-23 .fill-header {
  @include headerBg("purcell-cello", true, true, false);
}
.winner-23 .fill-content {
  @include headerBg("purcell-cello", true, false, true);
}

$bgImgThumb: image-url('thumbs/palmer-xs.jpg');
$bgImgProfile: image-url('profiles/palmer-xs.jpg');

// Default size (up to 480px wide)
.winner-24 .fill-header, 
.winner-24-thumb .fill {
  $img: image-url('thumbs/palmer-sm.jpg');
  $hdImg: image-url('thumbs/palmer-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-24 .fill-header {
  @include headerBg("palmer", true, true, false);
}
.winner-24 .fill-content {
  @include headerBg("palmer", true, false, true);
}

$bgImgThumb: image-url('thumbs/cooney-xs.jpg');
$bgImgProfile: image-url('profiles/cooney-xs.jpg');

// Default size (up to 480px wide)
.winner-25 .fill-header, 
.winner-25-thumb .fill {
  $img: image-url('thumbs/cooney-sm.jpg');
  $hdImg: image-url('thumbs/cooney-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-25 .fill-header {
  @include headerBg("cooney", true, true, false);
}
.winner-25 .fill-content {
  @include headerBg("cooney", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-piano-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-piano-xs.jpg');

// Default size (up to 480px wide)
.winner-26 .fill-header, 
.winner-26-thumb .fill {
  $img: image-url('thumbs/purcell-piano-sm.jpg');
  $hdImg: image-url('thumbs/purcell-piano-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-26 .fill-header {
  @include headerBg("purcell-piano", true, true, false);
}
.winner-26 .fill-content {
  @include headerBg("purcell-piano", true, false, true);
}

$bgImgThumb: image-url('thumbs/ventura-xs.jpg');
$bgImgProfile: image-url('profiles/ventura-xs.jpg');

// Default size (up to 480px wide)
.winner-27 .fill-header, 
.winner-27-thumb .fill {
  $img: image-url('thumbs/ventura-sm.jpg');
  $hdImg: image-url('thumbs/ventura-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-27 .fill-header {
  @include headerBg("ventura", true, true, false);
}
.winner-27 .fill-content {
  @include headerBg("ventura", true, false, true);
}

$bgImgThumb: image-url('thumbs/nicholls-xs.jpg');
$bgImgProfile: image-url('profiles/nicholls-xs.jpg');

// Default size (up to 480px wide)
.winner-28 .fill-header, 
.winner-28-thumb .fill {
  $img: image-url('thumbs/nicholls-sm.jpg');
  $hdImg: image-url('thumbs/nicholls-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-28 .fill-header {
  @include headerBg("nicholls", true, true, false);
}
.winner-28 .fill-content {
  @include headerBg("nicholls", true, false, true);
}

$bgImgThumb: image-url('thumbs/purcell-violin-xs.jpg');
$bgImgProfile: image-url('profiles/purcell-violin-xs.jpg');

// Default size (up to 480px wide)
.winner-29 .fill-header, 
.winner-29-thumb .fill {
  $img: image-url('thumbs/purcell-violin-sm.jpg');
  $hdImg: image-url('thumbs/purcell-violin-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-29 .fill-header {
  @include headerBg("purcell-violin", true, true, false);
}
.winner-29 .fill-content {
  @include headerBg("purcell-violin", true, false, true);
}

$bgImgThumb: image-url('thumbs/violin-xs.jpg');
$bgImgProfile: image-url('profiles/violin-xs.jpg');

// Default size (up to 480px wide)
.winner-30 .fill-header, 
.winner-30-thumb .fill {
  $img: image-url('thumbs/violin-sm.jpg');
  $hdImg: image-url('thumbs/violin-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-30 .fill-header {
  @include headerBg("violin", true, true, false);
}
.winner-30 .fill-content {
  @include headerBg("violin", true, false, true);
}

$bgImgThumb: image-url('thumbs/thantrey-xs.jpg');
$bgImgProfile: image-url('profiles/thantrey-xs.jpg');

// Default size (up to 480px wide)
.winner-31 .fill-header, 
.winner-31-thumb .fill {
  $img: image-url('thumbs/thantrey-sm.jpg');
  $hdImg: image-url('thumbs/thantrey-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-31 .fill-header {
  @include headerBg("thantrey", true, true, false);
}
.winner-31 .fill-content {
  @include headerBg("thantrey", true, false, true);
}

$bgImgThumb: image-url('thumbs/thurlow-xs.jpg');
$bgImgProfile: image-url('profiles/thurlow-xs.jpg');

// Default size (up to 480px wide)
.winner-32 .fill-header, 
.winner-32-thumb .fill {
  $img: image-url('thumbs/thurlow-sm.jpg');
  $hdImg: image-url('thumbs/thurlow-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-32 .fill-header {
  @include headerBg("thurlow", true, true, false);
}
.winner-32 .fill-content {
  @include headerBg("thurlow", true, false, true);
}

$bgImgThumb: image-url('thumbs/taylor-xs.jpg');
$bgImgProfile: image-url('profiles/taylor-xs.jpg');

// Default size (up to 480px wide)
.winner-33 .fill-header, 
.winner-33-thumb .fill {
  $img: image-url('thumbs/taylor-sm.jpg');
  $hdImg: image-url('thumbs/taylor-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-33 .fill-header {
  @include headerBg("taylor", true, true, false);
}
.winner-33 .fill-content {
  @include headerBg("taylor", true, false, true);
}

$bgImgThumb: image-url('thumbs/robinson-xs.jpg');
$bgImgProfile: image-url('profiles/robinson-xs.jpg');

// Default size (up to 480px wide)
.winner-34 .fill-header, 
.winner-34-thumb .fill {
  $img: image-url('thumbs/robinson-sm.jpg');
  $hdImg: image-url('thumbs/robinson-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-34 .fill-header {
  @include headerBg("robinson", true, true, false);
}
.winner-34 .fill-content {
  @include headerBg("robinson", true, false, true);
}

$bgImgThumb: image-url('thumbs/intro-xs.jpg');
$bgImgProfile: image-url('profiles/intro-xs.jpg');

#intro .fill-header {
  $img: image-url('thumbs/intro-sm.jpg');
  $hdImg: image-url('thumbs/intro-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
  @include headerBg('intro', true, true, false);
}
#intro .fill-content {
  @include headerBg('intro', true, false, true);
}
$aboutImgs: millswilliams ram rcm purcell;
@each $item in $aboutImgs {
  ##{$item} .fill-content {
    @include headerBg($item, false, true, true);
  }
}
