@import 'compass';
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'variables';
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.main, #carousel-container, .footerinfo .tab-pane {
  padding-left: 0;
  padding-right: 0;
}

.footerinfo .fill-content {
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

nav.navbar, .footer { margin-bottom: 0; }
nav.navbar.navbar-inverse {
  border: 0;
}
a.navbar-brand {
  z-index: 1;
  position: relative;
}

.dropdown-menu a {
  cursor: pointer;
}

#carousel {
  background: lighten(desaturate($brand-primary, 60%), 60%);
  .item {
    @include transition(0.4s left);
  }
  .fill-content,.fill-header {
    width: 100%;
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
  }
  .fill-content {
    height: 100%;
    @media screen and (min-width: $screen-sm) { min-height: 50rem; }
    @media screen and (min-width: $screen-md) { min-height: 60rem; }
    @media screen and (min-width: $screen-lg) { min-height: 70rem; }
  }
  .fill-header {
    height: 20rem;
    @media screen and (min-width: $screen-xs) { height: 30rem; }
  }
  .content {
    padding: 1em;
    @media screen and (min-width: $screen-sm) {
      background: transparentize(white, 0.2);
    }
  }
  .audio-container {
    position: absolute;
    left: 2rem;
    top: 15rem;
    @media screen and (min-width: $screen-xs) { top: 24.9rem; }
    @media screen and (min-width: $screen-sm) {
      top: auto;
      bottom: 2rem;
    }
    .audio-controls {
      .pause { display: none; }
    }
    &.playing {
      .audio-controls {
        .play { display: none; }
        .pause { display: inline; }
      }
    }
    .audio-progress-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .audio-progress {
        height: 100%;
        border-radius: 0.5em;
        background: transparentize(black, 0.5);
      }
    }
  }
}

#overview-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  .overview-nav { margin-bottom: 3rem; }
  .overview-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h2 { margin: 0; }
    .overview-filter {
      font-size: 1.2em;
      margin: 0.2em;
    } 
  }
  .overview {
    padding-bottom: 3rem;
    .thumbnail {
      cursor: pointer;
      .fill {
        height: 16rem;
        width: 100%;
        background-repeat: no-repeat;
        @include background-size(cover);
        background-position: center center;
      }
    }
    h3 a {
      cursor: pointer;
      text-decoration: none;
    }
    @media screen and (max-width: $screen-xs - 1px) {
      width: 100%;
    }
  }
}

nav.carousel-nav {
  margin-top: 2rem;
}

