@import 'compass';
@import 'variables';
@import 'mixins';

{{#winners}}

$bgImgThumb: image-url('thumbs/{{photo}}-xs.jpg');
$bgImgProfile: image-url('profiles/{{photo}}-xs.jpg');

// Default size (up to 480px wide)
.winner-{{id}} .fill-header, 
.winner-{{id}}-thumb .fill {
  $img: image-url('thumbs/{{photo}}-sm.jpg');
  $hdImg: image-url('thumbs/{{photo}}-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
}
.winner-{{id}} .fill-header {
  @include headerBg("{{photo}}", true, true, false);
}
.winner-{{id}} .fill-content {
  @include headerBg("{{photo}}", true, false, true);
}
{{/winners}}

$bgImgThumb: image-url('thumbs/intro-xs.jpg');
$bgImgProfile: image-url('profiles/intro-xs.jpg');

#intro .fill-header {
  $img: image-url('thumbs/intro-sm.jpg');
  $hdImg: image-url('thumbs/intro-sm-2x.jpg');
  background-image: $img;
  @include background-image($img, $bgImgThumb);
  @include hidpi {
    @include background-image($hdImg, $bgImgThumb);
  }
  @include headerBg('intro', true, true, false);
}
#intro .fill-content {
  @include headerBg('intro', true, false, true);
}
$aboutImgs: millswilliams ram rcm purcell;
@each $item in $aboutImgs {
  ##{$item} .fill-content {
    @include headerBg($item, false, true, true);
  }
}
