<!doctype html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Mills Williams Foundation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/backgrounds.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div class="container-fluid main">

      <header class="header">
        <nav class="navbar navbar-inverse navbar-default" role="navigation">
          <div class="container" id="menu-container">
            <a class="navbar-brand" href="#carousel" data-slide-to="0">Mills Williams Foundation</a>
            <ul class="navbar-nav nav navbar-right text-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Winners <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  {{#winners}}
                    <li><a data-target="#carousel" data-slide-to="{{id}}">{{name}} <small>{{year}}</small></a></li>
                  {{/winners}}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid" id="carousel-container">
        <div id="carousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="active first item section-intro" id="intro">
              <div class="fill-content">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 col-lg-5 col-lg-offset-6" id="sizeguide">
                      <div class="fill-header visible-xs"></div>
                      <div class="content clearfix">
                        <h2>Our aims</h2>
                        <p>We provide scholarships and fellowships to talented students of the Royal College of Music, Royal Academy of Music and the Purcell School, and fund an annual memorial concert at the RCM for our founders Peter Mills and Rod Williams.</p>
                        <button role="navigation" class="next btn btn-primary btn-lg pull-right" data-target="#carousel" data-slide="next">Previous winners <span class="glyphicon glyphicon-chevron-right"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {{#winners}}
              <div class="item winner-{{id}}" data-id="{{id}}">
                <div class="fill-content">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-6 col-lg-5 col-lg-offset-6">
                        <div class="fill-header visible-xs"></div>
                        <div class="content clearfix">
                          <h2 class="title">{{name}}<br /><small><span class="text-info">{{award}}</span> {{year}}</small></h2>
                          <div class="description clearfix">
                            {{#if body}}<p>{{{body}}}</p>{{/if}}
                            {{#if website}}<a type="button" class="btn btn-primary pull-right" href="{{website}}" target="_blank">Open website</a>{{/if}}
                          </div>
                          <nav class="carousel-nav clearfix">
                            {{#if prev}}
                              <a class="previous pull-left" href="#" data-target="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> {{prev}}</a>
                            {{/if}}
                            {{#if next}}
                              <a class="previous pull-right" href="#" data-target="#carousel" data-slide="next">{{next}} <span class="glyphicon glyphicon-chevron-right"></span></a>
                            {{/if}}
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{#if audio}}
                    <div class="audio-container" data-audio-id="audio-{{audio}}">
                      <audio src="audio/{{audio}}.mp3" id="audio-{{audio}}" preload="none"></audio>
                      <button class="audio-controls btn btn-primary btn-lg" type="button">
                        <span class="glyphicon glyphicon-play play"></span>
                        <span class="glyphicon glyphicon-pause pause"></span>
                        Play audio
                      </button>
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/winners}}

          </div>
        </div>
      </div>

      <div class="container" id="overview-container">

        <div class="clearfix overview-wrapper">
          <div class="btn-group pull-right overview-filter">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
            {{#awards}}
              <li{{#active}} class="active"{{/active}}>
                <a data-toggle="tab" data-target="#tab-{{id}}">{{name}}</a>
              </li>
            {{/awards}}
            </ul>
          </div>
          <h2>All winners</h2>
        </div>

        <div class="tab-content">
          {{#awards}}
          <div class="tab-pane{{#active}} active{{/active}}" id="tab-{{id}}">
              <div class="row">
                {{#items}}
                  <div class="col-xs-6 col-md-4 overview winner-{{id}}-thumb" data-id="{{id}}">
                    <a class="thumbnail" data-target="#carousel" data-slide-to="{{id}}">
                      <div class="fill"></div>
                    </a>
                    <h3><a data-target="#carousel" data-slide-to="{{id}}">{{name}} <small>{{year}}</small></a></h3>
                    <div class="teaser clearfix">
                      {{#if teaser}}
                        <p>{{teaser}}</p>
                      {{/if}}
                      <button class="pull-right btn-link btn" type="button" data-target="#carousel" data-slide-to="{{id}}">More</button>
                    </div>
                  </div>
                  {{#clearTwo}}<div class="clearfix visible-xs visible-sm"></div>{{/clearTwo}}
                  {{#clearThree}}<div class="clearfix visible-md visible-lg"></div>{{/clearThree}}
                {{/items}}
              </div>
            </div>
          {{/awards}}
        </div>

      </div>

      <div class="container">
        <h2 class="page-header">About us</h2>
        <ul class="nav nav-tabs">
          <li class="active"> <a href="#millswilliams" data-toggle="tab">Mills Williams</a></li>
          <li class="hidden"><a href="#rcm" data-toggle="tab">RCM</a></li>
          <li class="hidden"><a href="#ram" data-toggle="tab">RAM</a></li>
          <li><a href="#purcell" data-toggle="tab">Purcell</a></li>
        </ul>
      </div>

      <div class="footerinfo tab-content">
        <div class="container-fluid footer-info active tab-pane fade in" id="millswilliams">
          <div class="fill-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-lg-6">
                  <div class="fill-header visible-xs"></div>
                  <div class="content clearfix">
                    <div class="well">
                      <h2>Our history</h2>
                      <p>Peter Mills founded the Mills Williams Foundation in 1996.  He and his partner, Rod Williams, who died in 1994, had determined that their joint estate would  go towards founding a charity to support young performing musicians - instrumentalists, composers or conductors, as distinct from musicologists, - at the very start of their professional career. Peter later created an annual Scholarship at the Purcell School in 2000 to maintain a student at the school, whom without the Mills Williams input would not be able to study there.</p>
                      <p>An annual  Rod Williams Memorial Concert was established at the Royal College of Music in 1996 and was followed in 2012 by the first Mills Williams Opera School Scholar at the Royal Academy of Music. Peter died in 2006 but the Foundation continues to flourish with its Trustees  ensuring that the aims and ideals of Peter and Rod continue to be unreservedly maintained.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid footer-info tab-pane fade" id="rcm">
          <div class="fill-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-lg-6">
                  <div class="fill-header visible-xs"></div>
                  <div class="content clearfix">
                    <div class="well">
                      <h2>Royal College of Music award</h2>
                      <p>The Mills Williams Foundation was founded in 19...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc est, malesuada sit amet mi eu, convallis lobortis sem. Proin feugiat ipsum vitae elit pellentesque, quis cursus dolor dictum.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid footer-info tab-pane fade" id="ram">
          <div class="fill-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-lg-6">
                  <div class="fill-header visible-xs"></div>
                  <div class="content clearfix">
                    <div class="well">
                      <h2>Royal Academy of Music award</h2>
                      <p>The Mills Williams Foundation was founded in 19...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nunc est, malesuada sit amet mi eu, convallis lobortis sem. Proin feugiat ipsum vitae elit pellentesque, quis cursus dolor dictum.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid footer-info tab-pane fade" id="purcell">
          <div class="fill-content">
            <div class="container">
              <div class="row">
                <div class="col-sm-8 col-lg-6">
                  <div class="fill-header visible-xs"></div>
                  <div class="content clearfix">
                    <div class="well">
                      <h2>Purcell School award</h2>
                      <p>The Mills Williams Foundation has been generously supporting The Purcell School for Young Musicians since 2000 via a Mills Williams Scholarship.</p>
                      <p>The Scholarship is awarded by the Purcell School to a promising young musician, the Foundation criteria being that the award be given to a candidate who, without financial support, would not be able to attend The Purcell School. </p> <p>The Mills Williams Scholar can be supported from one year up to the extent of their entire time at Purcell, or any number of years in between, depending upon the Purcell School’s recommendation.</p>
                      <p>The Mills Williams Foundation has supported a wide range of talented young musicians at Purcell School, who have continued their musical education at various prestigious Music Conservatoires and Colleges in the UK and abroad.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="well well-sm footer">
        <div class="container">
          <p class="small text-center">
            <a href="mailto:admin@millswilliams.co.uk">admin@millswilliams.co.uk</a> Charity No. 1129407<br />
            Photo credits (see links for rights): <a href="https://www.flickr.com/photos/cebete/4202111839/in/photostream/">Andrea Puggioni</a>, <a href="http://www.flickr.com/photos/67025584@N00/2407707830">Adrià Ariste Santacreu</a>, <a href="http://commons.wikimedia.org/wiki/File:A_Cello_Being_Played.JPG">Dwayne Anderson</a>, <a href="http://www.flickr.com/photos/tcp909/3405069913/">Trevor Pritchard</a>, <a href="http://www.flickr.com/photos/10855397@N02/2511300928">Jon Bragg</a>, <a href="https://www.flickr.com/photos/32404172@N00/3392087662">mararie</a>, <a href="http://commons.wikimedia.org/wiki/File:Piano_strings_6.jpg">Alan Levine</a>, <a href="http://en.wikipedia.org/wiki/File:Double_bass_gut_strings.jpg">Timo Metzemakers</a>.<br />
            All other content © 2014 Mills Williams Foundation – All rights reserved.
          </p>
        </div>
      </footer>

    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <script src="bower_components/mediaelement/build/mediaelement.js"></script>
    <script src="bower_components/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
